#footer {
    background: #213869;
    .space {
        padding: 0 0 0 4rem;
        @include max(1280px) {
            padding: 0 0 0 2rem;
        }
        @include max(992px) {
            padding: 2rem 12px 0;
        }
    }
    .top-bar {
        padding: 3rem 0 3rem;
        h4 {
            color: #CFB273;
            font-size: 20px;
            font-weight: 600;
            line-height: 22px;
            margin: 0 0 10px;
        }
        p {
            color: #FFF;
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            @include max(1400px) {
                font-size: 15px;
                line-height: 20px;
            }
        }
        h3 {
            color: #CFB273;
            font-family: $f-second;
            font-size: 24px;
            font-weight: 500;
            line-height: 26px;
            span {
                color: #CFB273;
                font-size: 32px;
                line-height: 34px;
                @include max(1280px) {
                    font-size: 25px;
                    line-height: 27px;
                }
            }
            @include max(1280px) {
                font-size: 20px;
                line-height: 25px;
            }
        }
        .un-box {
            padding: 20px 0 0;
            margin: 20px 0 0;
            border-top: 1px solid #CFB273;
            p {
                display: flex;
                align-items: center;
                color: #CFB273;
                font-size: 20px;
                font-weight: 400;
                line-height: 22px;
                border-right: 1px solid #CFB273;
                @include max(1400px) {
                    font-size: 15px;
                    line-height: 20px;
                }
                @include max(575px) {
                    font-size: 14px;
                    line-height: 16px;
                }
                img {
                    margin: 0 10px 0 0;
                }
            }
            ul {
                display: flex;
                align-items: center;
                li {
                    display: flex;
                    align-items: center;
                    color: #CFB273;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 22px;
                    margin: 0 7px 0 0;
                    @include max(1400px) {
                        font-size: 15px;
                        line-height: 17px;
                    }
                    @include max(575px) {
                        font-size: 14px;
                        line-height: 16px;
                    }
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
    .b-area {
        padding: 20px 0;
        text-align: center;
        border-top: 1px solid #CFB273;
        p {
            a {
                color: #929497;
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
            }
            text-align: right;
            @include max(1280px) {
                font-size: 16px;
                line-height: 18px;
            }
            @include max(575px) {
                font-size: 14px;
                line-height: 20px;
                padding: 0 5px;
            }
        }
    }
}