#header {
    background: #fff;
    &.sticky {
        position: fixed;
        background: #fff;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
        @include max(992px) {
            padding: 0 0 10px;
        }
    }
    .navbar {
        position: relative;
        .navbar-brand {
            @include max(1280px) {
                img {
                    width: 150px;
                }
            }
            @include max(992px) {
                img {
                    width: 100px;
                }
            }
        }
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    margin: 0 10px 0 0;
                    @include max(1280px) {
                        margin: 0;
                    }
                    .nav-link {
                        color: #213869;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 18px;
                        padding: 0.7rem 0.9rem;
                        @include max(1400px) {
                            padding: 0.7rem 0.7rem;
                        }
                        @include max(1280px) {
                            padding: 0.7rem 0.5rem;
                            font-size: 14px;
                            line-height: 16px;
                        }
                        @include max(991px) {
                            padding: 12px 12px;
                            border-bottom: 1px solid #021D4A;
                            color: #213869;
                        }
                    }
                }
            }
        }
        .bro-btn {
            padding: 10px 30px;
            color: #CFB273;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            background: #213869;
            margin: 0 0 0 10px;
            border-radius: 5px 5px;
            display: flex;
            align-items: center;
            img {
                margin: 0 0 0 7px;
            }
            @include max(991px) {
                margin: 0;
                font-size: 14px;
                line-height: 16px;
                padding: 10px 15px;
                width: 100%;
                background: #213869;
                color: #CFB273;
                margin: 0 20px 0 0;
            }
            @include max(991px) {
                margin: 0 35px 0 0;
            }
            @include max(575px) {
                margin: 0 10px 0 0;
            }
            &::focus {
                box-shadow: none;
            }
            @include max(575px) {
                padding: 10px 10px;
                font-size: 12px;
                line-height: 14px;
            }
        }
        .box {
            @include max(991px) {
                display: flex;
                align-items: center;
            }
        }
    }
    .navbar-toggler {   
        #navicon {
            position: relative;
            width: 25px;
            height: 25px;
            padding: 0;
            border-radius: 5px;
            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: #021D4A;
                border-radius: 9px;
                opacity: 1;
                margin: 0 auto;
                transform: rotate(0deg);
                transition: 0.25s ease-in-out;
                right: 0;
                &:first-child {
                    top: 9px;
                }
                &:last-child {
                    top: 21px;
                    width: 65%;
                }
                &:nth-child(2) {
                    top: 15px;
                }
            }
            &.open {
                span {
                    &:first-child {
                        transform: rotate(135deg);
                        top: 15px;
                    }
                    &:last-child {
                        transform: rotate(-135deg);
                        top: 15px;
                        width: 100%;
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                }
            }
        }
        &:focus {
            box-shadow: none;
        }
    }
}