* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
	padding: 0;
	margin: 0;
}

ul,
ol,
li {
	list-style: none;
}

input,
button {
	border: 0px;
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
button {
	display: inline-block;
	background-color: transparent;
}
body {
	font-weight: 400;
	font-family: $f-primary;
	overflow-x: hidden;
}
#wrapper {
	margin: 0 auto;
	width: 100%;
}
@font-face {
    font-family: 'Granjon-LT';
    src: url('../fonts/GranjonLT-Bold.eot');
    src: url('../fonts/GranjonLT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GranjonLT-Bold.woff2') format('woff2'),
        url('../fonts/GranjonLT-Bold.woff') format('woff'),
        url('../fonts/GranjonLT-Bold.ttf') format('truetype'),
        url('../fonts/GranjonLT-Bold.svg#GranjonLT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
